<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Users</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="data">
        <mat-header-cell *matHeaderCellDef> Data</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName}} {{user.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef> Contact</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <p mat-line>{{user.email}}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user" (click)="delete(user)">
          <!--<button button="submit" mat-raised-button color="primary">-->
            <!--<mat-icon>delete</mat-icon> Add Event-->
          <!--</button>-->
            <mat-icon class="action" >delete</mat-icon>
        </mat-cell>
      </ng-container>
      <!--<ng-container matColumnDef="edit">-->
        <!--<mat-header-cell *matHeaderCellDef></mat-header-cell>-->
        <!--<mat-cell *matCellDef="let user">-->
          <!--<mat-icon class="action" (click)="update(user)">edit</mat-icon>-->
        <!--</mat-cell>-->
      <!--</ng-container>-->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
