<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Events</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon> Add Event
    </button>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let event">
          <div mat-line>{{event.name}}</div>
          <p mat-line>{{event.date}}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
        <mat-cell *matCellDef="let event"> {{event.description}} {{event.location}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let event; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
