<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="spacer"></span>
        <!--<a href="/" routerLinkActive="active">Home</a>-->
        <a routerLink="/events" routerLinkActive="active" *ngIf="loggedUser">Events</a>
        <a routerLink="/users" routerLinkActive="active" *ngIf="isAdmin">Users</a>
        <a routerLink="/login" routerLinkActive="active" *ngIf="!loggedUser">
          <mat-icon>input</mat-icon>
          Login
        </a>
        <a routerLink="/register" *ngIf="!loggedUser">Register</a>
        <a routerLink="/timesheet" *ngIf="isAdmin">Timesheet</a>
        <button class="user-button" mat-button [matMenuTriggerFor]="userAction" *ngIf="loggedUser" routerLinkActive="active" >
          <a class="username">{{loggedUser?.firstName}} {{loggedUser?.lastName}}</a>
        </button>
        <mat-menu #userAction="matMenu" class="user-button">
          <button class="user-button" mat-button [matMenuTriggerFor]="userAction" *ngIf="loggedUser" routerLinkActive="active" >
            <a class="username" (click)="logout()" >Logout</a>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
