.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: #FFF;
  text-decoration: none;
}

.username {
  font-size: 20px;
}

.user-button {
  flex: 1 1 auto;
  text-align: right;
}

.cdk-overlay-connected-position-bounding-box {
  right: 50px !important;
  width: auto !important;
  left: auto !important;
}

.mat-menu-panel {
  position: absolute !important;
  right: 40px !important;
}
